# Node modules
node_modules/

# Chrome Extension Build Files
*.crx
*.pem
*.zip

# IDE Files
.vscode/
.idea/

# Logs
*.log

# Environment Variables
.env

# Client secret
client_secret.json


manifest.json
sample.js